.signup-container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a77031; /*#31a79d*/
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-header h1 {
    text-align: center;
    color: rgb(201, 225, 95);
}

.signup-header h5 {
    text-align: center;
    color: aqua;
}

.signup-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    margin-right: 90px;
    width: 80%;
}

.input-group input {
    width: 100%;
    padding: 12px 40px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
}

.input-group img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.signup-submit-button {
    width: 100%;
    padding: 13px;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-submit-button button:hover {
    background-color: #6a1b9a;
}

.signup-body {
    width: 100%;
}

.signup-header h5 a {
    color: #6a1b9a;
    text-decoration: none;
}

.signup-header h5 a:hover {
    text-decoration: underline;
    color: greenyellow;
}


/*
.signup-container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a77031; //#31a79d
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 200px;
    margin-bottom: 10px;
    border: 1px solid red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
}

.signup-header h1 {
    text-align: center;
    color: rgb(201, 225, 95);
}

.signup-body form {
    display: flex;
    flex-direction: column;
}

.signup-name, .signup-email, .signup-pwd, .signup-submit-button {
    margin-bottom: 15px;
}

.signup-submit-button {
    margin-top: 50px;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid green;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
}*/